<!--  -->
<!-- This displays a little bit more information about the site -->
<h1>About</h1>

<!-- page description -->
<p>Please see below for a little bit more information about the site</p>

<p>
    I bought this course on Udemy about a month ago.
    <br />
    With school starting roughly the same time, I've had little time to progress through the course.
    <br />
    I've ran into some roadblocks setting up virtual environments, as well as git/github/git(GUI)
    <br />
    I'm happy to say that I've overcome those challenges, and this is the first site I've built with Django!
    <br />
    <br />
    I hope you love it!
</p>

<form action="{% url 'homepage' %}">
    <!-- Button to return the user to the homepage -->
    <input type="submit" value="Return Home" />
</form>